@font-url: '..';
//@font-url: 'https://...';

.font(@f-name, @f-style, @f-weight, @f-url, @f-format) {

  @font-face {
    font-family: @f-name;
    font-style: @f-style;
    font-weight: @f-weight;
    src: url(@f-url) format(@f-format);
  }
}

.font('OpenSans-300', Light, 300, '@{font-url}/fonts/OpenSans/OpenSans-Light.eot', 'eot');
.font('OpenSans-300', Light, 300, '@{font-url}/fonts/OpenSans/OpenSans-Light.ttf', 'ttf');
.font('OpenSans-300', Light, 300, '@{font-url}/fonts/OpenSans/OpenSans-Light.woff', 'woff');
.font('OpenSans-300', Light, 300, '@{font-url}/fonts/OpenSans/OpenSans-Light.woff2', 'woff2');

.font('OpenSans-400', Regular, 400, '@{font-url}/fonts/OpenSans/OpenSans-Regular.eot', 'eot');
.font('OpenSans-400', Regular, 400, '@{font-url}/fonts/OpenSans/OpenSans-Regular.ttf', 'ttf');
.font('OpenSans-400', Regular, 400, '@{font-url}/fonts/OpenSans/OpenSans-Regular.woff', 'woff');
.font('OpenSans-400', Regular, 400, '@{font-url}/fonts/OpenSans/OpenSans-Regular.woff2', 'woff2');

.font('OpenSans-600', SemiBold, 600, '@{font-url}/fonts/OpenSans/OpenSans-SemiBold.eot', 'eot');
.font('OpenSans-600', SemiBold, 600, '@{font-url}/fonts/OpenSans/OpenSans-SemiBold.ttf', 'ttf');
.font('OpenSans-600', SemiBold, 600, '@{font-url}/fonts/OpenSans/OpenSans-SemiBold.woff', 'woff');
.font('OpenSans-600', SemiBold, 600, '@{font-url}/fonts/OpenSans/OpenSans-SemiBold.woff2', 'woff2');

.font('OpenSans-700', Bold, 700, '@{font-url}/fonts/OpenSans/OpenSans-Bold.eot', 'eot');
.font('OpenSans-700', Bold, 700, '@{font-url}/fonts/OpenSans/OpenSans-Bold.ttf', 'ttf');
.font('OpenSans-700', Bold, 700, '@{font-url}/fonts/OpenSans/OpenSans-Bold.woff', 'woff');
.font('OpenSans-700', Bold, 700, '@{font-url}/fonts/OpenSans/OpenSans-Bold.woff2', 'woff2');


.font('OpenSans-800', ExtraBold, 800, '@{font-url}/fonts/OpenSans/OpenSans-ExtraBold.eot', 'eot');
.font('OpenSans-800', ExtraBold, 800, '@{font-url}/fonts/OpenSans/OpenSans-ExtraBold.ttf', 'ttf');
.font('OpenSans-800', ExtraBold, 800, '@{font-url}/fonts/OpenSans/OpenSans-ExtraBold.woff', 'woff');
.font('OpenSans-800', ExtraBold, 800, '@{font-url}/fonts/OpenSans/OpenSans-ExtraBold.woff2', 'woff2');


/* hint
100 - Thin (Hairline)
200 - Extra Light (Ultra Light)
300 - Light (Book)
400 - Normal (Regular)
500 - Medium
600 - Semi Bold (Demi Bold)
700 - Bold
800 - Extra Bold (Ultra Bold)
800 - Black (Heavy)
*/
